.radix-site-nav {
    color: rgba(255, 255, 255, 0.8);
    background-color: #990000;
    font-size: 15px;
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
  d-title{
    background-repeat: no-repeat;
    background-position: 95% 70%;
    background-size: initial;
  }
}

@media only screen and (min-width: 600px) {
  d-title{
    background-repeat: no-repeat;
    background-position: 63% 70%;
    background-size: initial;
  }
}

.sidebar-section {
  display: none;
}


.thumbnail img {
  max-width: 50%;
}

.posts-container {
  align: center;
  margin: auto;
}